:root {
  --primary-color: red;
  --secondary-color: blue;
}
#primary-text{
    color: var(--primary-color);
}

#secondary-text{
    color: var(--secondary-color)
}
#primary-button {
  background-color: var(--primary-color);
}

#secondary-button {
  background-color: var(--secondary-color);
}

